@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Merriweather:ital,wght@1,300&family=Roboto+Slab:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0;
    list-style: none;   
    text-decoration: none;
    box-sizing: border-box;
}

$primary-color: #002ad4;
$primary-color-variant: #00acc1;
$secondary-color: #e9cb57;
$white-color: #ffffff;
$light-color: rgba(#fff, 0.7);
$black-color: #000;
$dark-color: rgba($black-color, 0.7 );
$success-color: #4caf50;
$container-lg: 82%;
$container-md: 90%;


